<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Document</title>
  </head>
  <body class="index">
    <div class="column1"><%- include('../partials/nav.ejs')%></div>
    <main>
      <% for (let i = 0; i< tweets.length; i++) { %> <% const tweet = tweets[i]
      %> <% if (tweet.user === foundUser.username) { %>
      <a href="/tweets/<%= tweets[i]._id %>" class="links">
        <div class="tweet-body">
          <h3><%= tweet.user %></h3>
          <p><%= tweet.content%></p>
          <img class="tweet-image" src="<%= tweet.image%>" alt="" />
          <p><%= tweet.createdAt %></p>
        </div>
      </a>
      <% } %> <% } %>
    </main>
    <div class="column2"></div>
  </body>
</html>
